.header {
  background-color: white;
  border-bottom: solid 1px var(--color-border);
}
.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr ;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 64px;
}
.brand {
  display: flex;
  align-items: center;
}

.buttonGroup{
  margin-left: auto;
  display: flex;
}

.buttonGroup > button + button {
  margin-left: 0.5rem;
}

.iconButton{
  font-size: 1.5rem;
  color: var(--color-icon)
}

.buttonGroup > button:hover > .iconButton {
  color: var(--color-icon-hover)
}
